/Balancing_Robot_VHDL.cache
/Balancing_Robot_VHDL.hw
/Balancing_Robot_VHDL.sim
/Balancing_Robot_VHDL.runs
/vivado-boards-master
/Balancing_Robot_VHDL.ip_user_files
/work
Balancing_Robot_VHDL.xpr
nexys4_rm.pdf
nexys4_sch.pdf
*.wcfg
*.wlf


